<div id="podcast_show">
            <div id="show_banner">
                <div id="wraper_skinny">
                <h1><%= @podcast.tittle %></h1>
                <p class="description"><%= @podcast.description %>
                </p>
                <% unless @podcast.itunes.blank? %>
                <a href="<%= @podcast.itunes %>" class="subscribe_link">iTunes</a>
                <% end %>
                <% unless @podcast.stitcher.blank? %>
                <a href="<%= @podcast.stitcher %>" class="subscribe_link">Stitcher</a>
                <% end %>
                <% unless @podcast.podbay.blank? %>
                <a href="<%= @podcast.podbay %>" class="subscribe_link">PodBay</a>
                <% end %>
            </div>
        </div>
            
            <div id="breadcrumb">
            <%= link_to podcasts_path do %>
             All podcast
            <span>/</span>
            <%= link_to @podcast.tittle, podcast_path(@podcast) %>
            <span>/</span>
            <%= @episod.title %>
            <% end %>
            </div>
            
            <div id="episode_content">
                <div class="wraper_skinny">
                    <%= image_tag @episod.episod_thumbnail.url(:medium), class: "current_episode_thumbnail"	%> 
                    <h2><%= @episod.title %></h2>
                    <p class="desciption">
                    <%= @episod.description %>
					</p>
                </div>
            </div>
            
            <div id="episode">
                <div id="wraper_skinny">
                    <ul class="cf">
                    <% @episods.each do |episod| %>
                        <li class="cf">
                            <div class="episode_thumbnail">
                                <a href="#">
                                    <%= image_tag @episod.episod_thumbnail.url(:medium) %>
                                </a>
                            </div>
                            <div class="episode_overview">
                               <h2><%= link_to episod.title, podcast_episod_path(@podcast, episod) %></h2>
                                <p class="description"><%= truncate(episod.description, lenght: 160) %></p>
                            </div>
                        </li>
                        <% end %>
                    </ul>
                </div> 
            </div>
    </div> 
        
         <div class="pagination">
            <span class="previous_page disabled">Previous</span>
            <em class="current">1</em>
            <a href="#">2</a>
            <a class ="next_page" href="#">Next</a>
        </div>