<div id="background">
	<header class="cf">
		<div class="wrapper_wide">
			<a href="#" id="logo">Unplug</a>
			<nav>
				<ul>
					<li><%= link_to "Explore", podcasts_path %></li>
					<li><%= link_to "Sign In", new_podcast_session_path %></li>
					<li><%= link_to "Sign Up", new_podcast_registration_path %></li>
				</ul>
			</nav>
		</div>
	</header>
	<div class="wrapper_skinny">
		<h1>Discover your new favorite<br> podcast, or create your own.</h1>
		<%= link_to "Create a Podcast", new_podcast_registration_path, class: "button button_highlight" %>
		<%= link_to "Explore", podcasts_path, class: "button button_white" %>
	</div>
</div>


<!-- <section>
	<div class="cd-scrolling-bg cd-color-2">
			<div class="cd-container">
				<div class="shadow">
                     <div class="containerbox1 floatr">
                    <h2 id="right"> READ THE SOURCES YOU LOVE</h2>
                    <hr id="right">
                    </div>
                <div class="containerbox2 floatr">
                    <div class="videoframe"> 
                        <img src="img/resource-1.jpg" /> 
                        
                    </div>
                </div>
                <div class="containerbox2 floatr">
                     <div class="videoframe"> 
                        <img src="img/resource-2.jpg" />  
                   
                    </div>
                </div>            
                
                <div class="containerbox2 floatr">
                     <div class="videoframe"> 
                        <img src="img/resource-3.jpg" /> 
                        
                    </div>
                </div>
                <div class="containerbox2 floatr">
                    <div class="videoframe"> 
                        <img src="img/rescource-4.jpg" />  
                    
                    </div>
                </div>
                
                </div>
			</div> 
		</div>
</section>
-->
